@import "variables";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,300");

*, :after, :before {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  overflow-x: hidden;

  background: $light-grey;

  font-family: "Roboto", Sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  color: #2b3f44;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $blue;
}

.box {

  padding: 50px;
  margin: 25px 40px 15px 40px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 5px 5px 5px 0px $medium-grey;

  h3 {
    font-size: 28px;
    color: $blue;
    margin: 0px 0px 15px 0px;
  }
  p {
    margin-bottom: 25px;
    display: inline-block;
  }
}


