.button {
  background: $blue;
  padding: 7px 15px;
  border: 1px solid $blue;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;

  &:hover {
    background: darken($blue, 10);
    text-decoration: none;
  }

  i {
    margin-right: 10px;
  }

}

.button_submit {
  @extend .button;
  width: 180px;
  font-size: larger;
}

.button_submit_large {
  @extend .button_submit;
  width: 240px;
}

.button_cancel {
  @extend .button;
  background: $medium-grey;
  color: white;
  border: 1px solid $light-grey;
  margin-left: 15px;
  &:hover {
    background: darken($medium-grey, 10);
    text-decoration: none;
  }

}
.button_cancel_large {
  @extend .button_cancel;
  width: 140px;
}


