@mixin button-responsive() {
  @media screen and (max-width: $small) {
    display: inline-block;
    margin-left: 0px;
    margin-top: 15px;
    width: 90%;

    &:first-child {
      margin-top: 0px;
    }
  }
}


.button {
  background: $blue;
  padding: 7px 15px;
  border: 1px solid $blue;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-align: center;

  &:hover {
    background: darken($blue, 10);
    text-decoration: none;
  }

  @include button-responsive();

  i {
    margin-right: 10px;
  }

}

.button_submit {
  @extend .button;
  width: 180px;
  font-size: larger;

  @include button-responsive();

}

.button_submit_large {
  @extend .button_submit;
  width: 240px;

  @include button-responsive();

}

.button_cancel {
  @extend .button;
  background: $medium-grey;
  color: white;
  border: 1px solid $light-grey;
  margin-left: 15px;

  &:hover {
    background: darken($medium-grey, 10);
    text-decoration: none;
  }

  @include button-responsive();


}
.button_cancel_large {
  @extend .button_cancel;
  width: 140px;
}


