.email-form {
  padding: 50px;
  span {
    display: block;
    margin-bottom: 15px;
  }
  label {
    display: block;
    margin-top: 25px;
    margin-bottom: 5px;
    font-weight: bold;
    color: lighten($dark-grey, 10);
  }
  input[type=text], input[type=email] {
    display: block;
    width: 50%;

    border-radius: 3px;
    border: solid 1px lighten($medium-grey, 10);
    padding: 5px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);

    &:-webkit-autofill, &:focus {
      background-color: white;
    }
    @media screen and (max-width: $medium) {
      width: 90%;
    }
    &[disabled] {
      background-color: $light-grey;
    }

  }
  input[type=submit] {
    margin-top: 25px;
  }
}
