header {

  padding: 25px 15px 0px 20px;
  background: white;
  border-bottom: 2px solid $blue;

  .title {
    background: url(../images/logo.png) no-repeat left center;
    background-size: 160px 50px;
    height: 50px;
    margin-bottom: 10px;
    font-size: 26.5px;
    line-height: 29px;
    -webkit-font-smoothing: antialiased;

    display: inline-block;
    color: $blue;
    text-decoration: none;
    padding-left: 190px;
    &:hover {
      color: $blue;
      text-decoration: none;
    }
    &:visited {
      color: $blue;
    }
  }

  .meta {

    float: right;
    .logo {
      width: 26px;
      height: 26px;
      float: right;
      margin: 2px 5px 0 0;
      display: inline-block;
    }

    .name {
      margin-right: 40px;
      float: left;
      line-height: 32px;
      text-decoration: none;
    }

    a.logout {
      margin: 0px 30px 0px 20px;
      line-height: 30px;
      font-size: 14px;
      text-decoration: none;
      float: right;
    }

    .language {
      display: inline-block;
      margin: 0px 40px 0px 0px;
      padding: 0px;
      line-height: 30px;
      font-size: 14px;
      li {
        float: left;
        list-style: none;
      }
      a {
        display: block;
        padding: 0 14px;
        background: $light-grey;
        border-color: white;
        text-decoration: none;
        &:hover {
          background: $blue;
          color: white;
          text-decoration: none;
        }
        &.active {
          color: white;
          background: $blue;
        }
      }
      li:first-child a {
        border-right: 1px solid $light-grey;
        border-top-left-radius: $br;
        border-bottom-left-radius: $br;
      }
      li:nth-child(2) a {
        border-top-right-radius: $br;
        border-bottom-right-radius: $br;
      }
    }
    @media screen and (max-width: $medium) {
      float: none;
    }
    @media screen and (max-width: $small) {
      .logo {
        display: none;
      }
    }
    @media screen and (max-width: $small) {
      margin-top: 15px;

      .language {
        margin: 0px;
      }

    }
  }

}


