.profile {
  @extend .box;

  padding: 0px;

  h3 {
    color: $blue;
    padding: 30px;
    margin: 0px;
    border-bottom: 1px solid $blue;
  }

  form {
    @extend .email-form;
    padding: 10px 0px 35px 35px;
  }

}
