.profile {
  @extend .box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  div {
    width: 300px;
    span:first-child {
      float: left;
    }
    span:last-child {
      float: right;
    }
  }

}
