<div th:fragment="landing_info_en" th:if="__${#locale}__ == 'en'">

  <h3>Welcome</h3>
  <p>The SURFConext Attribute Mapper allows you to link your institutional account and identity to your iDEN identity. With
    iDIN, you can identify yourself online to companies and organisations using your banks log-in procedure
    - simple, secure and safe</p>

  <p>Once you linked your institutional identify with iDEN you can access many educational services
    with the iDEN Identity Provider. These eduGAIN services are not accessible with your institutional identity.</p>


</div>
