<div th:fragment="landing_info_nl" th:if="__${#locale}__ == 'nl'">

  <h3>Welkom</h3>
  <p>De SURFConext Attribuut Mapper stelt je in staat om je account en identiteit bij je educatieve instelling te koppelen
    aan je iDIN identiteit. Met iDIN kan je jezelf online identificeren door in te loggen bij je bank naar keuze - simpel en veilig</p>
  <p>Als je educatieve identiteit is gekoppeld aan de iDIN identiteit heb je middels de iDIN Idenity Provider toegang tot de eduGAIN diensten.</p>


</div>
