<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
  <title>Layout</title>
  <meta charset='utf-8'/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" type="text/css" href="/css/app.css" th:href="@{/css/app.css}"/>
</head>
<body>
<header>

  <a href="/" class="title" th:text="#{am.title}">Attribute Mapper</a>
  <div class="meta">
    <a href="/profile" th:href="@{/profile}" class="name" sec:authorize="hasRole('ROLE_USER')" th:text="#{am.welcome.user(${#authentication.principal.username})}"></a>
    <ul class="language">
      <li><a th:class="__${#locale}__ == 'en' ? 'active' : ''" href="/?lang=en">EN</a></li>
      <li><a th:class="__${#locale}__ == 'nl' ? 'active' : ''" href="/?lang=nl">NL</a></li>
    </ul>
    <a href='https://github.com/OpenConext/OpenConext-attribute-aggregation' target='_blank'>
      <img class="logo" th:src="@{/images/github.png}"/>
    </a>
    <a href='https://www.pivotaltracker.com/n/projects/1388668' target='_blank'>
      <img class="logo" th:src="@{/images/pivotaltracker.png}"/>
    </a>
    <a class="logout" sec:authorize="hasRole('ROLE_USER')" th:href="@{/saml/logout?local=true}" th:text="#{am.logout}">Logout</a>
  </div>
</header>
<nav>
  <div sec:authorize="hasRole('ROLE_USER')">
    <ul>
      <li>
        <a href="/mappings" th:href="@{/mappings}" th:text="#{am.menu.mappings}"
           th:class="${menu} == 'mappings' ? 'active' : ''">Mappings</a>
      </li>
      <li>
        <a href="/profile" th:href="@{/profile}" th:text="#{am.menu.profile}"
           th:class="${menu} == 'profile' ? 'active' : ''">Profile</a>
      </li>
    </ul>
  </div>
</nav>
<div layout:fragment="content">
</div>
<script type="text/javascript" th:src="@{/js/app.js}"></script>
</body>
</html>
