<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout">
<head>
  <title th:text="#{am.title}"></title>
</head>
<body>
<div layout:fragment="content">

  <div class="profile">
    <h3 th:text="#{am.profile}"></h3>
    <div>
      <span th:text="#{am.mappings.name}"></span>
      <span th:text="${user.username}"></span>
    </div>
    <div>
      <span th:text="#{am.mappings.institution}"></span>
      <span th:text="${user.institution}"></span>
    </div>
    <div>
      <span th:text="#{am.mappings.email}"></span>
      <span th:text="${user.email}"></span>
    </div>
    <div>
      <span th:text="#{am.mappings.affiliations}"></span>
      <span th:text="${user.affiliations}"></span>
    </div>
    <section sec:authorize="!hasRole('ROLE_MAPPED')">
      <span th:text="#{am.no.mappings.pre}"></span>
      <em th:text=" ${user.username} "></em>
      <span th:text="#{am.no.mappings.post}"></span>
    </section>
    <a class="button_submit" th:text="#{am.register}" th:href="@{/saml/login}">Register</a>
  </div>
</div>


</body>
</html>
